.contact-info-boxes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.contact-info-box {
  border: 3px solid #d0d7fb;
  color: #fff;
  text-align: center;
  padding: 2rem 3rem;
  min-width: 300px;
  background: #0d0d15;
  border-radius: 2px;
}
.contact-info-box svg {
  margin-bottom: 1rem;
}
.contact-info-box h2 {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 2rem;
}
.contact-info-box p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
}