@import "src/styles/global/variables.scss";
@import "src/styles/global/mixins.scss";

// Limit global.scss to base tag styles only
body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
