@import "src/styles/global/variables.scss";
@import "src/styles/global/mixins.scss";

body {
  margin: 0;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-text-primary;
  font-family: $font-family-headings;
  background: $color-background;
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    color: $color-link-hover;
  }

  &:focus {
    outline: 4px solid $color-link-focus-outline;
  }
}

img {
  max-width: 100%;
  height: auto;
}
