{% extends "layouts/base.njk" %}

{% block title %}Index Page{% endblock %}

{% block content %}
<div class="page-layout">
    <section class="banner">
        {% include "partials/banner.njk" %}
    </section>
    <section class="catalog">
        {% include "partials/nft-cards.njk" %}
    </section>
    <section class="blog">
        {% include "partials/blog-section-index.njk" %}
    </section>
    <section class="team">
        <h2>Meet Our Team</h2>
        {% for member in teamMembers %}
            {% include "partials/team-card.njk" with member %}
        {% endfor %}
    </section> 
</div>
{% endblock %}
