{% extends "layouts/base.njk" %}

{% block title %}Index Page{% endblock %}

{% block content %}

{% include "partials/banner.njk" %}
{% include "partials/nft-cards.njk" %}
{% include "partials/blog-section-index.njk" %}
{% endblock %}
