<header>
  <a href="{{ baseUrl }}/index.html">
    <img src="{{ baseUrl }}/src/images/static/binabox-logo.webp" alt="Binabox Logo" />
  </a>
  <nav>
    <ul>
      <li><a href="{{ baseUrl }}/index.html">Home</a></li>
      <li><a href="{{ baseUrl }}/blog.html">Blog</a></li>
      <li><a href="#">Catalog</a></li>
      <li><a href="#">Collection</a></li>
    </ul>
    <input type="search" placeholder="Search..." />
    <a href="#" target="_blank" rel="noopener noreferrer">Discord</a>
    <a href="#" target="_blank" rel="noopener noreferrer">Connect</a>
  </nav>
</header>