<section>
    <div>
      <h2>Catalog</h2>
      <div>
        <a href="#">SEE ALL</a>
        <div>
          <button>&#8592;</button>
          <button>&#8594;</button>
        </div>
      </div>
    </div>
    <div>
      <ul>
        {% for nft in nftCards %}
        <li>
          <a href="#">
            <article>
              <img src="{{ nft.image }}" alt="{{ nft.alt }}">
              <span>{{ nft.status }}</span>
              <p>{{ nft.price }}</p>
              <h3>{{ nft.name }}</h3>
            </article>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
</section>
