<img class="nft-card__image" src="src\images\static\nft-card-cat.webp" alt="NFT Item 2">
    <span class="nft-card__badge nft-card__badge--new">NEW</span>
        <p class="nft-card__price">$199</p>
        <h3 class="nft-card__title">NAME PRODUCT</h3> 