@import 'src/styles/global/variables.scss';
@import 'src/styles/global/mixins.scss';
@import 'src/styles/global/global.scss';

.banner {
    width: 866.5px;
    height: 362px;
    background: radial-gradient(44.91% 42.19% at 22% -4%, rgba(2, 101, 220, 0.5), rgba(2, 101, 220, 0) 100%), #0d0d15;
}

.banner__heading {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.banner__highlight {
    color: $color-primary;
}

.banner__text {
    font-family: $font-primary;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.banner__stats {
    display: block;
    width: 100%;
    max-width: 800px;
}

.banner__stat-label {
    font-family: 'Poppins', Arial, sans-serif;
    width: 95px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: bottom;
}

.banner__stat-value {
    box-shadow: 0 4px 13px rgba(255, 255, 255, 0.4);
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    vertical-align: bottom;
}

.banner__image {
    width: 533.5px;
    height: 641.8px;
    top: -0.9px;
    left: 1030.5px;
}

.banner__button-group {
    width: 866.5px;
    height: 48px;
    gap: 16px;
}

.banner__title {
    background-image: url('src/images/static/our-blog-background.webp');
}