<html>
<head>
    <title>{% block title %}Binabox{% endblock %}</title>
    <link href="/src/styles/global.scss/style.scss" rel="stylesheet" />
</head>
<body>
    {% include "partials/header.njk" %}
    
    {% block content %}
    
    {% endblock %}
    
    {% include "partials/footer.njk" %}
</body>
</html>