// Colors
$color-text-primary: #F5F8FB;
$color-background: #0D0D15;

// Font Families
$font-family-headings: 'Bakbak One', Arial, sans-serif;
$font-family-body: 'Poppins', Arial, sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;

// Font Sizes
$font-size-body: 16px;

// Line Heights
$line-height-body: 1.5;

// Usage Example
body {
    font-size: $font-size-body;
    line-height: $line-height-body;
    color: $color-text-primary;
    font-family: $font-family-headings;
    background: $color-background;
}

/* Bakbak One for headings */
.bakbak-one-regular {
    font-weight: $font-weight-regular;
    font-style: normal;
}

/* Poppins for body text */
.poppins-medium {
    font-family: $font-family-body;
    font-weight: $font-weight-medium;
    font-style: normal;
}